<mat-toolbar color="primary">My App</mat-toolbar>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput formControlName="first" placeholder="First name" required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput formControlName="last" placeholder="Last name" required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <money-amount-input formControlName="rent" placeholder="Rent" required></money-amount-input>
    <span matSuffix>€</span>
    <mat-hint>Your monthly rent</mat-hint>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input class="number-input" splitterControl matInput formControlName="income" placeholder="Income" required>
    <span matSuffix>€</span>
  </mat-form-field>
  <br>
  <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Submit</button>
</form>