<mat-toolbar color="primary">My App</mat-toolbar>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput formControlName="first" placeholder="First name" required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput formControlName="last" placeholder="Last name" required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <my-tel-input formControlName="tel" placeholder="Phone number" required></my-tel-input>
    <mat-icon matSuffix>phone</mat-icon>
    <mat-hint>Include area code</mat-hint>
  </mat-form-field>
  <br>
  <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Submit</button>
</form>